header{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: dimgray;
    width: 100%;
    margin: 0px;

}
header ul{
    list-style: none;
    display:flex;
    flex-direction: row;
}
header ul li{
    margin: 10px;
}

img{width: 100PX;  

}
h1{
    font-size: 24px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.contenedor{
    display: flex;
    flex-direction: column; 
    width: 100%;
    background-color: beige;
}

.caja{}
